page-list {

    .img{

        background-image:url("../../assets/imgs/bbb.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    }

.list{

    background-color: rgba(255, 253, 253, 0.137);
    color: white;
 


}

h1{

    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 10%;

}

.add{
    background-color: rgb(175, 150, 169);
    color: white;
}

.more{
    background-color: rgb(83, 53, 76);
}

.Update{
    background-color: rgb(146, 60, 126);
}

.Delete{
    background-color: rgb(177, 93, 157);
}



}
