page-home {


h1{
 padding-top: 70%;
 text-align: center;
 font-size: 500%;
 color: whitesmoke;


}


.btn{
   
    margin-left: 40%;
    margin-top: 20%;
    background-color: white;
    color: rgb(204, 132, 180);
    border-radius: 30px;

}


.img{

    background-image:url("../../assets/imgs/pink.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



}
